.OPAL-message-sending>.OPAL-message-content {
	opacity: 0.5;
}

.OPAL-message-error>.OPAL-message-content {
	color: #ff2525;
}

.OPAL-message-error img {
	filter: contrast(0.6) sepia(100%) brightness(45%) hue-rotate(-45deg) saturate(500%);
}

.message:has(#OPAL-client-tag) {
	display: none !important;
}

#OPAL-client-tag {
	font-style: italic;
	font-weight: bold;
	font-size: 1.2rem;
}

.message>p {
	display: none;
}

.OPAL-message-content {
	overflow-wrap: break-word;
	overflow: hidden;
}

:is(.message, #OPAL-message-textarea) img {
	min-width: 100px;
	max-width: 30vw;
	display: block;
}

.OPAL-code {
	background: #80808040;
	border-radius: 0.5em;
}

.OPAL-small-code {
	padding: 0.3em;
}

.OPAL-large-code {
	padding: 0.5em 1em;
	margin: 0;
}

.OPAL-blockquote {
	margin: 0;
	padding: 8px;
	background: #80808030;
	border-radius: 8px;
	border-left: 8px solid #202020;
}
