.OPAL-input-container {
	padding: 0;
	border: 1px solid currentColor;
	display: flex;
	align-items: stretch;
}

.OPAL-input-container>:last-child>button {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.OPAL-input-container>form {
	display: contents;
}

.OPAL-input-container #OPAL-message-textarea {
	flex-grow: 1;
	width: auto;
	color: currentColor;
	background-color: transparent;
	border: none;
	padding: 10px;
	overflow-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-gutter: stable;
}

.OPAL-input-container>form>input, .OPAL-input-container .OPAL-settings-button:not(.OPAL-theme-button) {
	color: currentColor;
	background-color: transparent;
	border: none;
	border-left: 1px solid #80808020;
	margin-right: -1px;
	padding: 10px;

	&:hover {
		background-color: #80808020;
		border-color: #80808050;
	}

	&:active {
		background-color: #80808050;
		border-color: #80808080;
	}
}
