.OPAL-message-sending>.OPAL-message-content {
	opacity: 0.5;
}

.OPAL-message-error>.OPAL-message-content {
	color: #ff2525;
}

.OPAL-message-error img {
	filter: contrast(0.6) sepia(100%) brightness(45%) hue-rotate(-45deg) saturate(500%);
}

.message:has(#OPAL-client-tag) {
	display: none !important;
}

#OPAL-client-tag {
	font-style: italic;
	font-weight: bold;
	font-size: 1.2rem;
}

.message>p {
	display: none;
}

.OPAL-message-content {
	overflow-wrap: break-word;
	overflow: hidden;
}

:is(.message, #OPAL-message-textarea) img {
	min-width: 100px;
	max-width: 50vw;
	display: block;
}

#OPAL-message-textarea img {
	resize: both;
}

.OPAL-code {
	background: #80808040;
	border-radius: 0.5em;
}

.OPAL-small-code {
	padding: 0.3em;
}

.OPAL-large-code {
	padding: 0.5em 1em;
	margin: 0;
}

.OPAL-blockquote {
	margin: 0;
	padding: 8px;
	background: #80808030;
	border-radius: 8px;
	border-left: 8px solid #202020;
}

/* <style>
@keyframes mov {
	from {
		background-position: 0% 0%;
	}

	to {
		background-position: 50% 0%;
	}
}

span, button, p, pre, code, blockquote, div {
	background: repeating-linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red 10vw);
	background-clip: text;
	color: transparent;
	background-size: 200vw 100%;
	background-position: 100% 0%;
	background-repeat: repeat;
	animation: mov 9s infinite linear;
}
</style> */
