.input-container {
	padding: 0;
	border: 1px solid currentColor;
	display: flex;
	align-items: stretch;
}

.input-container>:last-child>button {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.input-container>form {
	display: contents;
}

.input-container #input_textarea_special {
	flex-grow: 1;
	width: auto;
	color: currentColor;
	background-color: transparent;
	border: none;
	padding: 10px;
	overflow-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-gutter: stable;
}

.input-container>form>input, .input-container .OPAL-settings-button:not([class*="theme"]) {
	color: currentColor;
	background: transparent;
	border: none;
	border-left: 1px solid #80808020;
	margin-right: -1px;
	padding: 10px;
}

.input-container input:hover, .input-container .OPAL-settings-button:not([class*="theme"]):hover {
	background: #80808020;
	border-color: #80808050;
}

.input-container input:active, .input-container .OPAL-settings-button:not([class*="theme"]):active {
	background: #80808050;
	border-color: #80808080;
}
